<!DOCTYPE html>

<html lang="en">

<head>
    {% load crispy_forms_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Création de compte</title>
	{% load static %}
	
	
	<!-- Custom fonts for this template-->
	<link rel="stylesheet" type= "text/css" href="{% static 'home/vendor/fontawesome-free/css/all.min.css' %}">
	
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
	<link rel="stylesheet" href="{% static 'home/css/sb-admin-2.min.css' %}">
	
	

</head>

<body class="bg-gradient-primary">

    <div class="container col-4">
        <br><br><br>
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-1 bg-gradient-light">
                
                    
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="h4 text-gray-900 mb-4">SDS tech-x sandbox</h4>
                            </div>
                         
                            <form action="" method=POST>
                                {% csrf_token %}
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label text-gray-900">Username</label>
                                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label text-gray-900">Password</label>
                                    <input type="password" class="form-control" name="password">
                                </div>
                                <input type="submit" value="Log In" class="btn btn-primary">
                            </form>   		
                        </div>
                   
                
            </div>
        </div>
    </div>

</body>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'home/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'home/js/sb-admin-2.min.js' %}"></script>

</html>